<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" />
    <title>Blog BDD</title>
</head>

<body>
    <header>
        <h1>TITRE BLOG</h1>
        <nav>
            <a href="index.html">Accueil</a>
            <a id="connexion" href="formulaire_login.html">Connexion</a> 
        </nav>
    </header>
     <!-- Rédaction nouveau post (Emma) -->
     <br><br>
     <main>
         <div class="BlocDuHaut">
<div class="BlocDuHautPartieGauche">
     <div id="enTeteFormulairePublierArticle">
            <h2>Titre</h2>
            <p>Vous publiez en tant que <a href="#"> USER</p></a>
        </div>
    
        <form id="formulairePublierArticle" action="/article/new" method="post">
            <div>
              <label for="titrePublierArticle">Titre :</label>
              <input type="text" value="" id="titrePublierArticle" name="titre" required>
            </div>
            <div>
                <label for="articlePublierArticle">Article :<abbr title="Maximum 1000 caractères">*</abbr></label>
                <textarea id="articlePublierArticle" value="" name="contenu" maxlength ="1000" required></textarea>
            </div>
            <div>
                <label for="datePublierArticle">Date :</label>
                <input type="date" name="date" required>
            </div>
            <div>
                    <p> <button id ="boutonFinalPublierArticle" type="submit">Publier</button> </p>
                </div>
        </form>

        </div>
        
<!-- Bloc users -->
        <div id="blocUsers">
            <ul>Users
                <li><a href="#">Mustapha</a></li>
                <li><a href="#">User 2</a></li>
                <li><a href="#">User 3</a></li>
                <li><a href="#">User 4</a></li>
                <li><a href="#">User 5</a></li>
                <li><a href="#">...</a></li>    
            </ul>
        </div>
    
    </div>

<!-- Liste articles -->
<hr><br>

<div class="ArticleDejaPoste">
    <h2>{{titre}}</h2>
    <p>{{articles}}</p>
</div>
<p>Posté par <a href="#">User</a> le <a href="#">Date</a> - Commentaires <a href="#">(0)</a></p>
<br>

<div class="ArticleDejaPoste">
    <h2>Titre article</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde inventore voluptatem fuga harum molestias nemo, quibusdam nulla ut necessitatibus atque placeat ex minus reprehenderit obcaecati laudantium sed doloremque culpa, eius corrupti neque eos voluptates mollitia minima. Quam, itaque unde. Iste nisi laborum laudantium quos iure perspiciatis sequi quod, incidunt eveniet!
    </p>
</div>
<p>Posté par <a href="#">User</a> le <a href="#">Date</a> - Commentaires <a href="#">(0)</a></p>
<br>

<div class="ArticleDejaPoste">
    <h2>Titre article</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde inventore voluptatem fuga harum molestias nemo, quibusdam nulla ut necessitatibus atque placeat ex minus reprehenderit obcaecati laudantium sed doloremque culpa, eius corrupti neque eos voluptates mollitia minima. Quam, itaque unde. Iste nisi laborum laudantium quos iure perspiciatis sequi quod, incidunt eveniet!
    </p>
</div>
<p>Posté par <a href="#">User</a> le <a href="#">Date</a> - Commentaires <a href="#">(0)</a></p>
<br>


</main>

<br><br>

<footer>
    <p id="titreFooter">Titre blog</p>
    <p>©<a href="#">Mentions légales</a> </p>
</footer>

</body>

</html>