*{
    font-family: Helvetica, sans-serif, Arial
}

body{
    background-color: ghostwhite;
    text-decoration: none;
    color: #1E1E1E;
}

header{
    background-color: #1E1E1E;
    color: ghostwhite;
    text-align: center;
}

main{
    color: #1E1E1E;
    margin-left: 200px;
    margin-right: 200px;
}

main a{
    font-weight: bold;
    text-decoration: none;
    color: #1E1E1E;
}

header a{
    text-decoration: none;
    color: ghostwhite;
}

footer a{
    text-decoration: none;
    color: ghostwhite;
}

#titreFooter{
    font-weight: bold;
}

.BlocDuHaut{
    display: flex;
    justify-content: space-between;
}

.BlocDuHautArticle{
    display: flex;
    justify-content: space-between;
}

#formulairePublierArticle{
    display: flex;
    align-items: left;
    flex-direction: column;
    
}

.BlocDuHautPartieGauche input{
    width: 591px;
    margin-left: 21px;
}


.BlocDuHautPartieGauche textarea{
    width: 600px;
    height: 100px;
}

.BlocAjoutCommentaire textarea{
    width: 800px;
    height: 100px;
}

.BlocDuHautPartieGaucheArticle{
    margin-right: 170px;
}

.BlocAjoutCommentaire{
    margin-right: 299px;
}

#enTeteFormulairePublierArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#enTeteFormulaireAjouterCommentaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#blocUsers{
    display: flex;
    align-items: center;
}

footer{
    background-color: #1E1E1E;
    color: ghostwhite;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: left;
    margin-left: 202px;
}

nav a{
    margin-right: 44px;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.EnsembleLogin{
    margin-left: 202px;
}

.EnsembleRegister{
    margin-left: 202px;
}

.EnsembleLogin a{
    font-weight: bold;
    text-decoration: none;
    color: #1E1E1E;
}

.EnsembleRegister a{
    font-weight: bold;
    text-decoration: none;
    color: #1E1E1E;
}

img{
    margin-left: 10px;
    width: 60px;
}

.HeaderDuHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 41%;

}

